<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_universe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_universe_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNIverse"
        tools:targetApi="31">
        <activity
            android:name=".OrdersCheckUserActivity"
            android:exported="false" />
        <activity
            android:name=".seller_views.ViewsOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".MakeOrderActivity"
            android:exported="false" />
        <activity
            android:name=".seller_views.EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".post_feed.CreatePostsActivity"
            android:exported="true" />
        <activity
            android:name=".PerfilActivity"
            android:exported="true" />
        <activity
            android:name=".start_pages.UniverseActivity"
            android:exported="true"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".start_pages.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".HomePageActivity"
            android:exported="true" />
    </application>

</manifest>